<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>oppaacademy</title>
    <meta http-equiv="content-type" content="text/html";Charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
    <meta name="_csrf_parameter" content="{{_csrf.parameterName}}"/>
    <link rel="icon" sizes="96x96" type="image/png" href="https://oppaacademy-indonesia-webservice-static.s3.ap-southeast-1.amazonaws.com/static/images/common/oppa-favicon-bg.png">
    <link rel="stylesheet" href="/scss/custom.css">
    <link rel="stylesheet" href="/css/app/app.css" >
    <link rel="stylesheet" href="/css/app/layout/common.css">
    <script src="https://kit.fontawesome.com/4895234490.js" crossorigin="anonymous"></script>
