
</head>
<body>
    <header id="top">
        <div class="container">

            {{#userName}}
                Logged in as : {{userName}}
                <form action="/oauth2/logout" method="post">
                    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    <input type="submit" value="logout"/>
                </form>
            {{/userName}}
            {{^userName}}
                <a id="loginBtn">로그인</a>
            {{/userName}}

            <a class="btn btn-link" href="/quiz/level-test">Level Test</a>
        </div>
    </header>


