    {{>layout/header_api}}
    <!--  custom css  -->
    {{>layout/header}}
    <main>
        <div class="container">
            <div class="">
                oppaacademy main page 입니다. ver 1.0
            </div>
            <div id="test">

            </div>
        </div>
    </main>

    {{>layout/footer}}
    {{>layout/footer_api}}
    <!--  custom js  -->
    <script src="/js/app/index.js"></script>

