{{>layout/footer}}
oppaacademy main page 입니다. ver 0.2
    {{#userName}}
        Logged in as : {{userName}}
        <a href="/logout">logout</a>
    {{/userName}}
    {{^userName}}
        <a href="/oauth2/authorization/google">google login</a>
        <a href="/oauth2/authorization/facebook">facebook login</a>
    {{/userName}}
{{>layout/footer}}

